@model BookCave.Models.ViewModels.AuthorListViewModel
@{
    ViewData["Title"] = @Model.Name;
}
<div>
    <h2>@Model.Name</h2>
    <p>Fæddur: @Model.BirthDate</p>
    <p>Upplýsingar: @Model.Details</p>
    <img src="@Model.AuthorImage" alt="Author Portrait">
    <p>Bækur:</p>
    @foreach(var i in Model.Books)
    {
        <p><a asp-controller="Book" asp-action="Details" asp-route-id="@i.Id"><img src="@i.CoverImage" alt="Book Cover"></a></p>
        <button>Bæta í körfu</button> <button>Bæta á óskalista</button>
    }
    
    <button><a asp-controller="Author" asp-action="Index">Fara til baka</a></button>
</div>