@model BookCave.Models.ViewModels.AuthorListViewModel

<div>
    <h2>@Model.Name</h2>
    <p>Fæddur: @Model.BirthDate</p>
    <p>Upplýsingar: @Model.Details</p>
    <img src="@Model.AuthorImage" alt="Author Portrait">
    <p>Bækur:</p>
    @foreach(var i in Model.Books)
    {
        <p>@i</p>
    }
    
    
</div>