@model List<BookCave.Models.ViewModels.CartViewModel>

@{
    ViewData["Count"] = @Model.Count;
}

@{float total = 0;
    @foreach(var price in @Model)
    {
        total += price.Price * price.Quantity;
    }
}




<h1>Karfan Þín</h1>
<div style="width: 80%">
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Titill</th>
        <th>Verð</th>
        <th>Magn</th>
        <th></th>
    </tr>
    @foreach(var Item in @Model)
    {
        <tr>
            <td id="bookID">@Item.Id</td>
            <td>@Item.Title</td>
            <td>@Item.Price kr.</td>
            <td>@Item.Quantity</td>
            <!--<td><input type="number" value="@Item.Quantity" min="0" id="quantity"></td>-->
            <td><button><a href="@Url.Action("Remove", "Cart")?bookId=@Item.Id">-</a></button><button><a href="@Url.Action("Increase", "Cart")?bookId=@Item.Id">+</a></button></td>
            <!--<td><a href="@Url.Action("Remove", "Cart")?bookId=@Item.Id">Eyða</a></td>-->
        </tr>
    }
    <tr>
        <td></td>
        <th>Heildarverð</th>
        <td>
            @total kr.
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
<button><a href="@Url.Action("Checkout", "Order")?total=@total"></a>Ganga frá pöntun</button>

<form asp-controller="Order" asp-action="Checkout" method="get">
    <button>Ganga frá pöntunn án heildarverðs</button>
</form>

<script>


$(document).ready(function(){
    $("#updateQuantity").click(function(){
        var _quantity = document.getElementsByTagName("input").value;
        console.log(_quantity);
    });
});
</script>

