@model List<BookCave.Models.ViewModels.CartViewModel>

@{
    ViewData["Title"] = "Karfa";
}

@{
    ViewData["Count"] = @Model.Count;
}

@{float total = 0;
    @foreach(var price in @Model)
    {
        total += price.Price * price.Quantity;
    }
}




<h1>Karfan Þín</h1>
<div style="width: 80%">
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Titill</th>
        <th>Verð</th>
        <th>Magn</th>
        <th></th>
    </tr>
    @foreach(var Item in @Model)
    {
        <tr>
            <td id="bookID">@Item.Id</td>
            <td>@Item.Title</td>
            <td>@Item.Price kr.</td>
            <td>@Item.Quantity</td>
            <td>
                <a href="@Url.Action("Remove", "Cart")?bookId=@Item.Id"><button>-</button></a>
                <a href="@Url.Action("Add", "Cart")?bookId=@Item.Id"><button>+</button></a>
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <th>Heildarverð</th>
        <td>
            @total kr.
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
<form asp-controller="Order" asp-action="Checkout" method="post">
    <div class="input-group input-group-sm"><input type="text" class="form-control" name="total" value=@total readonly id="orderTotal">
    <div class="input-group-btn"><button class="btn btn-default" type="submit">Ganga frá pöntun</button></div></div>
</form>
</div>



<script>


$(document).ready(function(){
    $("#updateQuantity").click(function(){
        var _quantity = document.getElementsByTagName("input").value;
        console.log(_quantity);
    });
});
</script>

