@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Create / Edit books</h1>
<div>
<table class="table table-bordered" style="width: 80%">
    <tr>
        <th>Nafn á bók</th>
        <th>Mynd</th>
        <th>Breyta bók</th>
        <th>Fjarlægja bók</th>
    </tr>
        @foreach(var Book in Model)
        {
            <tr>
                <td><a asp-controller="Book" asp-action="Details" asp-route-id="@Book.Id"><p>@Book.Title</p></a></td>
                <td><img src="@Book.CoverImage" alt="Mynd bókar" height="30" width="30"></td>
                <td><form action="/Create/Edit">
                    <button name="id" value="@Book.Id">Edit book</button>
                </form>
                </td>
                <td>
                    <form action="/Create/Remove">
                    <button name="id" value="@Book.Id">Remove book</button>
                </form>
                </td>
            </tr>
        }
    </ul>
</div>

<div>
    <form action="/Create/Create">
        <button>Create book</button>
    </form>
</div>