@model List<BookCave.Models.ViewModels.OrderViewModel>

<h2>Þínar pantanir</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dagsetning</th>
                <th scope="col">Heimilsfang</th>
                <th scope="col">Póstnúmer</th>
                <th scope="col">Borg</th>
                <th scope="col">Land</th>
                <th scope="col">Bækur</th>
                <th scope="col">Höfundur</th>
                <th scope="col">Verð</th>
                <th scope="col">Heildarverð</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Order in @Model)
            {
            <tr>
                <td>@Order.Time</td>
                <td>@Order.Address</td>
                <td>@Order.PostalCode</td>
                <td>@Order.City</td>
                <td>@Order.Country</td>
                <td>@foreach(var Book in @Order.Books)
                {
                    @Book.Title <span>x</span> @Book.Quantity <br>
                }</td>
                <td>@foreach(var Book in @Order.Books)
                {
                    @Book.Price <span>kr.</span> <br>
                }</td>
                <td>@foreach(var Book in @Order.Books)
                {
                    <span>0</span>
                }</td>
            </tr>
            }

            
        </tbody>
    </table>
</div>