@model List<BookCave.Models.ViewModels.OrderViewModel>

@foreach(var Order in @Model)
{
    <div>
        <h1>Order placed: @Order.Time</h1>
        <ul>
            @foreach(var Book in @Order.Books)
            {
                <li>@Book.Title - @Book.Quantity x @Book.Price kr.</li>
            }
        </ul>
        <h2>Sent รก @Order.Address, @Order.PostalCode, @Order.Country</h2>
        <hr>
    </div>
}