@model List<BookCave.Models.ViewModels.BookListViewModel>

<form action="" method="">
    <input type="text" placeholder="Leitaðu að bók með nafni eða höfund">
    <button type="submit">Leita</button>
</form>

<div>
    @foreach(var Books in @Model)
    {
        <h2><a asp-controller="Book" asp-action="Details" asp-route-id="@Books.Id">@Books.Title</a></h2>
        <p>Útgáfuár: @Books.ReleaseYear</p>
        <p>Einkunn: @Books.Rating</p>
        <p>Höfundur: @Books.Author</p>
        <br>
    }
</div>