@model List<BookCave.Models.ViewModels.BookListViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>Mynd</th>
                <th><a href="@Url.Action("Index", "Book")?sortOrder=titill"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>Titill
                <a href="@Url.Action("Index", "Book")?sortOrder=titill_desc"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>
                <th>Útgáfuár</th>
                <th>Einkunn</th>
                <th>Höfundur</th>
                <th>Bókaflokkur</th>
                <th><a href="@Url.Action("Index", "Book")?sortOrder=lowToHigh"><span class="glyphicon glyphicon-sort-by-order"></span></a>Verð
                    <a href="@Url.Action("Index", "Book")?sortOrder=highToLow"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a></th>
            </tr>
            @foreach(var Book in @Model)
            {
                <tr>
                    <td><a asp-action="Details" asp-controller="Book" asp-route-id="@Book.Id"><img src="@Book.CoverImage" alt="Mynd bókar" height="30" width="30"></a></td>
                    <td><a asp-action="Details" asp-controller="Book" asp-route-id="@Book.Id">@Book.Title</a></td>
                    <td>@Book.ReleaseYear</td>
                    <td>@Book.Rating</td>
                    <td><a asp-action="Details" asp-controller="Author" asp-route-id="@Book.AuthorId">@Book.Author</a></td>
                    <td><a asp-action="Category" asp-controller="Book" asp-route-id="@Book.CategoryId">@Book.Category</a></td>
                    <td>@Book.Price</td>
                    @if(SignInManager.IsSignedIn(User))
                    {
                        <td>
                        <button class="btn"><a href="@Url.Action("Add", "Cart")?bookId=@Book.Id">Bæta í körfu</a></button>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>