@model BookCave.Models.ViewModels.BookListViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

<div>
    <h2>@Model.Title</h2>
    <p>Útgáfuár: @Model.ReleaseYear</p>
    <p>Einkunn: @Model.Rating</p>
    <p>Höfundur: @Model.Author</p>
    <p>Bókaflokkur: @Model.Category</p>
    <p>ISBN: @Model.Isbn</p>
    <p>Verð: @Model.Price</p>
    <p><img src="@Model.CoverImage" alt="Book Cover"></p>


    @if(SignInManager.IsSignedIn(User))
    {
        <p>Skráður inn sem @claim</p>
        <a href="@Url.Action("Add", "Cart")?bookId=@Model.Id">Bæta í körfu A</a>
        <form asp-action="Cart" asp-controller="Add" method="POST">
            <button>Bæta í körfu</button> <button>Bæta á óskalista</button>
        </form>
    }
    else 
    {

        <button><a asp-area="" asp-controller="Account" asp-action="Login"> <span class="glyphicon glyphicon-log-in"></span> Innskrá til að bæta í körfu</a></button>

    }

    <button>Bæta í körfu</button> <button>Bæta á óskalista</button>
    <p>Ummæli notanda: 
        @foreach(var i in Model.Comments)
        {
            @i.Review
        }
    </p>
</div>

<div>
    <h2>Aðrar bækur eftir @Model.Author</h2>
    @foreach(var i in Model.AuthorsBooks)
    {
        <p><a asp-controller="Book" asp-action="Details" asp-route-id="@i.Id"><img src="@i.CoverImage" alt="Book Cover"></a></p>
    }
</div>

<div>
    <h2>Ummæli</h2>
    <a asp-action="Comment" asp-controller="Book" class="btn btn-info">Skrifa ummæli</a>
</div>