@model BookCave.Models.ViewModels.BookListViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models
@{
    ViewData["Title"] = @Model.Title;
}
@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

<div>
    <h2>@Model.Title</h2>
    <p>Útgáfuár: @Model.ReleaseYear</p>
    <p>Einkunn: @Model.Rating</p>
    <p>Höfundur: @Model.Author</p>
    <p>Bókaflokkur: @Model.Category</p>
    <p>ISBN: @Model.Isbn</p>
    <p>Verð: @Model.Price</p>
    <p><img src="@Model.CoverImage" alt="Book Cover"></p>


    @if(SignInManager.IsSignedIn(User))
    {
        <p>Skráður inn sem @claim</p>
        <button><a href="@Url.Action("Add", "Cart")?bookId=@Model.Id">Bæta í körfu</a></button>
    }
    else 
    {

        <button><a asp-area="" asp-controller="Account" asp-action="Login"> <span class="glyphicon glyphicon-log-in"></span> Innskrá til að bæta í körfu</a></button>

    }

    
    <h3>Ummæli notanda:</h3> 
        @foreach(var i in Model.Comments)
        {
            
            <p id="comment-container"> <strong>@i.Username skrifaði:</strong> <i>@i.Review</i> </p>
        }
    <a asp-action="Comment" asp-controller="Book" asp-route-id="@Model.Id" class="btn btn-info">Skrifa ummæli</a>
</div>


<div>
    <h2>Aðrar bækur eftir @Model.Author</h2>
    @foreach(var i in Model.AuthorsBooks)
    {
        <p><a asp-controller="Book" asp-action="Details" asp-route-id="@i.Id"><img src="@i.CoverImage" alt="Book Cover"></a></p>
    }
</div>

