@model BookCave.Models.ViewModels.BookListViewModel

<div>
    <h2>@Model.Title</h2>
    <p>Útgáfuár: @Model.ReleaseYear</p>
    <p>Einkunn: @Model.Rating</p>
    <p>Höfundur: @Model.Author</p>
    <p>Bókaflokkur: @Model.Category</p>
    <p>ISBN: @Model.Isbn</p>
    <p><img src="@Model.CoverImage" alt="Book Cover"></p>
    <button>Bæta í körfu</button> <button>Bæta á óskalista</button>
</div>

<div>
    <h2>Aðrar bækur eftir @Model.Author</h2>
    @foreach(var i in Model.AuthorsBooks)
    {
        <p><a asp-controller="Book" asp-action="Details" asp-route-id="@i.Id"><img src="@i.CoverImage" alt="Book Cover"></a></p>
    }
</div>