@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "The Book Cave";
}
        
<div class="container">
    <div class="row">
        @foreach(var Book in @Model)
        {
            <div class="col-lg-4">
                <h4><a asp-controller="Book" asp-action="Details" asp-route-id="@Book.Id">@Book.Title</a></h4>
                <p>Útgáfuár: @Book.ReleaseYear</p>
                <p>Einkunn: @Book.Rating</p>
                <p>Höfundur: @Book.Author</p>
                <p>Bókaflokkur: @Book.Category</p>
                <p>Verð: @Book.Price</p>
                <br>
            </div>
        }
    </div>
</div>