@model List<BookCave.Models.ViewModels.BookListViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Vinsælustu bækurnar";
}
<div class="jumbotron">
    <h1>Hér má finna 10 vinsælustu bækur The Book Cave!</h1>
    <p>Athugið að þetta er miðað við einkunagjöf síðunnar, til þess að sjá einkun annara notanda vinsamlegast smellið á þá bók sem þið viljið sjá frekari upplýsingar um!</p>
</div>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Titill</th>
                <th>Einkunn</th>
                <th>Höfundur</th>
                <th>Bókaflokkur</th>
                <th>Verð</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var Book in Model)
            {
                <tr>
                    <td><a asp-controller="Book" asp-action="Details" asp-route-id="@Book.Id">@Book.Title</a></td>
                    <td>@Book.Rating</td>
                    <td>@Book.Author</td>
                    <td>@Book.Category</td>
                    <td>@Book.Price kr.</td>
                    @if(SignInManager.IsSignedIn(User))
                    {
                        <td>
                            <button class="btn"><a href="@Url.Action("Add", "Cart")?bookId=@Book.Id">Bæta í körfu</a></button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>