@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Vinsælustu bækurnar";
}
<h1>10 Vinsælustu bækur</h1>    

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Titill</th>
                <th>Einkunn</th>
                <th>Höfundur</th>
                <th>Bókaflokkur</th>
                <th>Verð</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i <= @Model.Count(); i++)
            {
            @foreach(var Book in Model.Skip(i * 1).Take(1))
            {
                <tr>
                    <td>@Book.Title</td>
                    <td>@Book.Rating</td>
                    <td>@Book.Author</td>
                    <td>@Book.Category</td>
                    <td>@Book.Price kr.</td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>
