@model List<BookCave.Models.ViewModels.BookListViewModel>
@{
    ViewData["Title"] = "Vinsælustu bækurnar";
}
<h1>10 Vinsælustu bækur</h1>    

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Titill</th>
                <th>Einkunn</th>
                <th>Höfundur</th>
                <th>Bókaflokkur</th>
                <th>Verð</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var Book in Model)
            {
                <tr>
                    <td>@Book.Title</td>
                    <td>@Book.Rating</td>
                    <td>@Book.Author</td>
                    <td>@Book.Category</td>
                    <td>@Book.Price kr.</td>
                    <td> 
                        <button class="btn"><a href="@Url.Action("Add", "Cart")?bookId=@Book.Id">Bæta í körfu</a></button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
